Django==1.7.6
-e git+https://github.com/apendleton/djmicro.git#egg=djmicro

-e git+https://github.com/apendleton/python-opencivicdata-django.git@disclosures#egg=opencivicdata

-e git+https://github.com/sunlightlabs/dryrub.git@rtlobbying#egg=dryrub

name_cleaver
jsonfield
djorm-pgarray
django-uuidfield
psycopg2
django-braces
shortuuid
django-haystack
Whoosh

gunicorn
dj-static

redis
-e git+https://github.com/jokull/haystack-redis.git@master#egg=haystack-redis

elasticsearch
dj-database-url
dj-haystack-url
django-cache-url