/* slim down subnav; adapted from td_nav.  */
#rt_nav {
/* background: url('../../dryrub/images/bg_tdNav2.png') no-repeat top left;
    height: 42px; */
    background: rgba(105,165,159,.17);
    padding: 14px 0;
    margin-bottom: 30px;
    margin-top: -15px;
    border-bottom: 1px dashed #dcdcd8;
    }

#rt_nav ul {
    margin-right: 25px;
    }

#rt_nav li {
    float:left;
    border-right: 1px solid #cacdce;
    padding: 0 15px;
    line-height: 15px;
    text-align: center;
    }

#rt_nav li.last, .content-header-links li.last {
    border-right: none;
    padding-right: 0;
    }

#rt_nav li.first{
    margin-left: 25px;
    }

#rt_nav li:hover {
   background-color: #FFF;
   padding: 0 15px;
}

#rt_nav li.current {
    font-weight: bold;
}

.date-field {
    min-width: 90px;
}

.issue-list, .participant-group {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}

.participant-list h4 {
    border-bottom: 1px dashed #dcdcd8;
}

.participant-group {
    margin-bottom: 20px;
}

.jump-to {
    background: rgba(105,165,159,.17);
    padding: 8px;
    border: 1px solid #dcdcd8;
    margin-bottom: 20px;
}

.object-metadata dd {
    float: none;
    clear: both;
    margin-bottom: 12px;
    width: auto !important;
    text-align: left !important;
}