{% for obj in object_list %}
{{ obj.start_time }}<br />
<a href="{% url 'client-detail' obj.clients.0.name|slugify obj.clients.0.short_uuid %}">{{ obj.clients.0.name }}</a><br />
<a href="{% url 'registrant-detail' obj.registrants.0.name|slugify obj.registrants.0.short_uuid %}">{{ obj.registrants.0.name }}<br />
{% for issue in obj.issues %}
    <a href="{% url 'issue-detail' issue.slug %}">{{ issue.description }}</a>
{% endfor %}<br />
<a href="{% url 'registration-detail' obj.short_uuid %}">View registration</a><br /><br />

{% endfor %}