{% load humanize %}

<table id="mainPageTable" class="server-sortable" data-ordering="{{ ordering }}" data-order-by="{{ order_by }}">
    <thead>
        <tr id="titles">
            <th class="sort" data-label="submitted_date">Date</th>
            <th class="sort" data-label="registrant">Registrant</th>
            <th class="sort" data-label="client">Client</th>
            <th>Issues</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td class="date-field">{{ obj.submitted_date|date:"M. j, Y" }}</td>

            <td>
            {% if obj.registrants %}
                <a href="{% url 'registrant-detail' obj.registrants.0.name|slugify obj.registrants.0.short_uuid %}">{{ obj.registrants.0.name }}
            {% else %}
                Self-employed
            {% endif %}
            </td>

            <td>
            {% if obj.clients %}
                <a href="{% url 'client-detail' obj.clients.0.name|slugify obj.clients.0.short_uuid %}">{{ obj.clients.0.name }}</a>
            {% endif %}
            </td>

            <td>
            {% for issue in obj.issues %}
                <a href="{% url 'issue-detail' issue.slug %}">{{ issue.description }}</a>
                {% if not forloop.last %}&bull;{% endif %}
            {% endfor %}
            </td>
            
            <td><a href="{% url 'registration-detail' obj.short_uuid %}">View&nbsp;&raquo;</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if paginator.num_pages > 1 %}
<div class="pagination">

    {% if page_obj.number > 1 %}
      <a href="?order_by={{ order_by }}&amp;ordering={{ ordering }}&amp;page={{ page_obj.number|add:-1 }}" class="prev">&laquo; previous</a>
    {% else %}
      <span class="prev"></span>
    {% endif %}

    <span class="pages">(page {{ page_obj.number }} of {{ paginator.num_pages|intcomma }})</span>

    {% if page_obj.number < paginator.num_pages %}
      <a href="?order_by={{ order_by }}&amp;ordering={{ ordering }}&amp;page={{ page_obj.number|add:1 }}" class="next">next &raquo;</a>
    {% else %}
      <span class="next"></span>
    {% endif %}

</div>
{% endif %}
