{% extends "templates/vashistha_base.html" %}

{% block pagetitle %}Registration: {{ object.registrants.0.name }} for {{ object.clients.0.name }} | {{ block.super }}{% endblock %}

{% block vashistha_main %}
<h3>Registration: {{ object.registrants.0.name }} for {{ object.clients.0.name }}</h3>
<dl class="object-metadata">
    <dt>Date received:</dt>
    <dd>{{ object.submitted_date|date:"F j, Y" }}</dd>
    
    <dt>Date effective:</dt>
    <dd>{{ object.start_time|date:"F j, Y" }}</dd>

    <dt>Client:</dt>
    <dd><a href="{% url 'client-detail' object.clients.0.name|slugify object.clients.0.short_uuid %}">{{ object.clients.0.name }}</a></dd>

    <dt>Registrant:</dt>
    {% with object.registrants as registrants %}
    {% if registrants %}
    <dd><a href="{% url 'registrant-detail' registrants.0.name|slugify registrants.0.short_uuid %}">{{ registrants.0.name }}</a></dd>
    {% else %}
    <dd>Self-employed</dd>
    {% endif %}
    {% endwith %}

    <dt>Lobbyists:</dt>
    <dd>
    {% for lobbyist in object.lobbyists %}
        <div class="dd-entry">
            <a href="{% url 'lobbyist-detail' lobbyist.slug lobbyist.short_uuid %}">{{ lobbyist.name }}</a>
            {% with lobbyist.covered_positions as covered_positions %}
            {% if covered_positions %}
                (covered position{{ covered_positions|pluralize }}: {{ covered_positions|join:" &bull; "}})
            {% endif %}
            {% endwith %}
        </div>
    {% endfor %}
    </dd>

    <dt>Issues:</dt>
    <dd>
    {% for issue in object.issues %}
        <div class="dd-entry"><a href="{% url 'issue-detail' issue.slug %}">{{ issue.description }}</a></div>
    {% endfor %}
    </dd>

    <dt>Specific issue:</dt>
    <dd>
        {{ object.specific_issues|join:"; " }}
    </dd>

    {% with object.sources.all as sources %}
    {% if sources|length %}
    <dt>Original filings:</dt>
    <dd>
    {% for source in sources %}
        <div class="dd-entry"><a href="{{ source.url }}">{{ source.note }}</a></div>
    {% endfor %}
    </dd>
    {% endif %}
    {% endwith %}

</dl>
{% endblock %}