{% extends "dryrub/base.html" %}
{% load staticfiles %}

{% block sitecss %}
<link rel="stylesheet" href="{% static 'vashistha_style.css' %}" />
{% endblock sitecss %}

{# override search #}
{% block search %}{% endblock search %}

{% block pagetitle %}Real-Time Lobbying | {% endblock %}

{% block main %}

<div id="contentHeader" class="clearfix">
    <h2 class="RTh2">Real-Time Lobbying Registrations</h2>
    </h2>
</div>

{% block vashistha_nav %}
<nav id="rt_nav" class="realtimesubnav clearfix">
    <ul>
        <li class="{% if view.section == 'registrations' %}current{% endif %} first"><a href="{% url 'registration-list' %}">Registrations</a></li>
        <li class="{% if view.section == 'registrants' %}current{% endif %}"><a href="{% url 'registrant-list' %}">Registrants</a></li>
        <li class="{% if view.section == 'lobbyists' %}current{% endif %}"><a href="{% url 'lobbyist-list' %}">Lobbyists</a></li>
        <li class="{% if view.section == 'clients' %}current{% endif %}"><a href="{% url 'client-list' %}">Clients</a></li>
        <li class="{% if view.section == 'issues' %}current{% endif %} last"><a href="{% url 'issue-list' %}">Issues</a></li>
    </ul>
</nav>
{% endblock %}

<div class="module">
{% block vashistha_main %}
{% endblock %}
</div>

{% endblock %}

{% block sitejs %}
{{ block.super }}
<script type="text/javascript">
(function($) {
  $('table.server-sortable').each(function() {
    var $table = $(this);
    var ordering = $table.attr('data-ordering'),
        order_by = $table.attr('data-order-by');

    $table.find('th.sort').each(function() {
      var $th = $(this);
      if ($th.attr('data-label') == order_by) {
        $th.addClass(ordering == "asc" ? "tablesorter-headerAsc" : "tablesorter-headerDesc");
        $th.on('click', function() {
          document.location.search = "?order_by=" + order_by + "&ordering=" + (ordering == "asc" ? "desc" : "asc");
        })
      } else {
        $th.on('click', function() {
          document.location.search = "?order_by=" + $th.attr('data-label');
        })
      }
    })
  })
})(jQuery);
</script>
{% endblock %}